
body{
    margin: 0;
    padding: 0;
    }
    .bg{
    position: relative;
    background:url('background.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    animation: bgmove 5s linear infinite;
    }


    @keyframes bgmove{
0%{
     background-position:0px;
}

100%{
    background-position: 1000px;
}
} 


.car{
    position: absolute;
    bottom: 4%;
    width: 435px;
    height: 135px;
    left: 40%;
    background:url('cimage.png') transparent no-repeat;
    animation: carmove 10s infinite linear;
}

@keyframes carmove{
    0%{
        left:80%;
    }
    100%{
        left:20%;
    }
}

.tyre{
    width: 60px;
    height:60px;
    border-radius: 50%;                     
    background: black;
    animation: tyre 5s infinite linear ;
}

@keyframes tyre{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg) ;
    }
}

.left{
    position: absolute;
    top: 57%;
    left: 12%;
}

.right{
    position: absolute;
    top: 57%;
    left: 71.5%;
}

.rim{
    position: absolute;
    top:18%;
    left:18%;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px dotted white;
}

.fuelstation{
    position: absolute;
    bottom: 0px;
    width: 480px;
    height: 400px;
    left: 0%;

    background:url('fuelstation.png') transparent no-repeat;
}

.pause {
    animation-play-state: paused !important;
    }
    .ply {
    animation-play-state: running !important;
    }
    .rscore{
        position:absolute;
        top:10%;
        right:10%;
    }

